@model List<Entidades.NecesidadesDonacionesInsumos>

@{
    ViewBag.Title = "Donación de insumos";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
    int resultado = 0;
    int totalRecaudado = 0;
}
<br>
<br>
<center><h2 class="font-weight-light">Donación de insumos</h2></center>

<div class="card mb-3 mt-5">
    <div class="card-body  mt-5">
        <h5 class="card-title text-center font-weight-light">Realizar donación de insumos</h5><br>

        @using (Html.BeginForm("DonacionInsumos", "DonacionInsumos", FormMethod.Get, new { @class = "login100-form validate-form p-b-33 p-t-5" }))
        {

            @Html.AntiForgeryToken()

            if (ViewBag.mensajeError != null) //Mensaje que esta en el controller.
            {
                <div class="p-3 mb-2 bg-danger text-white">@ViewBag.mensajeError</div>
            } <br />


            var Mensaje = ""; //creo var mensaje vacia

            if (TempData["Mensaje"] != null) //Si TempData no esta vacio, a la variable mensaje le asigno el valor de tempdata (Gracias por su donación)
            {
                Mensaje = TempData["Mensaje"].ToString();
            }

            if (Mensaje == "Gracias por su donación") //Si mensaje es igual al mismo texto que puse en el controller (TempData["Mensaje"] = "Gracias por su donación") pongo el siguiente texto
            {
                <center><h2 class="p-3 mb-2 bg-success"><i>¡Muchas gracias por su donación!</i></h2></center>
            }<br><br>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Producto solicitado</th>
                        <th scope="col">Monto solicitado</th>
                        <th scope="col">Monto restante</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var necDonacionInsumos in Model) //@model List<Entidades.NecesidadesDonacionesInsumos>
                    {

                        totalRecaudado = 0;
                        <tr>
                                @foreach (var donInsumos in necDonacionInsumos.DonacionesInsumos)
                                {

                                    totalRecaudado += donInsumos.Cantidad; //Se va acumulando la cantidad donada de insumos.

                                }
                                @{
                                    resultado = necDonacionInsumos.Cantidad - totalRecaudado; // A la cantidad de insumos solicitado le resto el total recaudado.
                                }

                                @if (resultado <= 0)
                                {
                                <th scope="col" class="text-danger"><del>@necDonacionInsumos.Nombre</del></th>
                                <th scope="col" class="text-danger"><del>@necDonacionInsumos.Cantidad</del></th>
                                resultado = 0;
                                }
                                else
                                {
                                    <th scope="col"> @necDonacionInsumos.Nombre </th>
                                    <th scope="col"> @necDonacionInsumos.Cantidad </th>
                                }
                        <th>
                            @resultado
                        </th>
                                <th>
                                    <a href="~/DonacionInsumos/Donar?idNecesidadDonacionInsumo=@necDonacionInsumos.IdNecesidadDonacionInsumo" class="btn btn-info" id="boton">Donar</a>
                                </th>
                            </tr>
                        }
                </tbody>
            </table>
        }
    </div>
</div>
