@model Entidades.Views.VMComprobantePago

@{
    ViewBag.Title = "Selección comprobante de pago";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<br />
<br />
<center><h2 class="font-weight-light">Seleccione comprobante de pago</h2></center>

<div class="card" id="card">

    <div class="col-md-4 mt-3 mb-3 float-left">
        @using (Html.BeginForm("SeleccionComprobanteDePago", "DonacionMonetaria", FormMethod.Post, new { enctype = "multipart/form-data" }))

        {
            <input type="hidden" name="IdDonacionMonetaria" value="@Model.IdDonacionMonetaria" />

            @Html.AntiForgeryToken()

            if (ViewBag.mensajeError2 != null) //Mensaje que esta en el controller.
            {
                <div class="p-3 mb-2 bg-danger text-white">@ViewBag.mensajeError2</div>
            }

            <div class="form-group" name="ArchivoTransferencia">
                @Html.TextBoxFor(model => model.ArchivoTransferencia, new { type = "file", accept = "image/jpg, image/jpeg, image/png", @class = "form-control-file" })
                @Html.ValidationMessageFor(model => model.ArchivoTransferencia, "", new { @class = "text-danger" })

            </div>

            <div class="col-md-12 btn-group mt-4">
                <button type="submit" class="btn btn-primary ml-2">Confirmar</button>
            </div>
        }
    </div>
</div>